<footer class="text-center d-block">
    

    <div class="footer-text">
        <span>
            10 let praxe v zakládání 
            <br>a údržbě zahrad
        </span>
        <span>
            Individuální přístup <br>a vysoka kvalita
        </span>
        <span>
            Prioritou je maximální <br>spokojenost zákazníka
        </span>

    </div>

    <div class="footer-info text-left mt-5">
        <div>
            <p>
            KP Zahrady s.r.o.<br>
            K Nahonu 23<br>
            400 01 Usti nad Labem
            </p>
        </div>

        <div>
            <p>
            IC: 689230202<br>
            telefon: 607 013 669, 721 216 236<br>
            e-mail:  info@kpzahrady.cz
            </p>
        </div>

        <div class="copy">
            <p>
                &copy; Copyright 2021. Vsechna prava vyhrazena.
            </p>
        </div>
    </div>
</footer>
<script src="js/all.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

</body>
</html>
